#root {
  max-width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}
p {
  margin-bottom: 0;
}
:root{
  /* Colores principales */
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 78%);

  /* Colores neutros */
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%); /*para el tachado*/
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsla(0, 0%, 0%, 0.75);
}
/**************** NAV ***********************/
.nav-1005 {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.0625rem var(--color-grayish-blue) solid;
}
.active{
  opacity: 0.8;
}
.nav-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 75px;
}

.logo {
  width: 170px;
}

.ul-flex {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 40px;
}

.navigation-item {
  font-size: 1em;
  cursor: pointer;
}
.ul-flex-mb{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.navigation-item-mb{
  font-weight: 700;
  font-size: 1em;
}
.navigation-item:hover{
  color: var(--color-orange);
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.cart-cont{
  display: flex;
  flex-direction: row;
  gap:2px;  
  cursor: pointer;
}
.or-count{
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50px;
  width: 1.5625rem;
  height: 1.5625rem;
  display: flex;
  justify-content: center;
}

.cart-icon {
  cursor: pointer;
}

.avatar {
  width: 60px;
  cursor: pointer;
}
/***************** MAIN *********************/
.main-cont{
  padding: 2.5rem 0rem;
}
.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
}
.text-container{
  padding: 1.25rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-container span{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--color-orange);
}
.text-container h1{
  font-weight: 700;
  color: var(--color-very-dark-blue);
  width: 25rem;
}
.product-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-description{
  width: 28.125rem;
  font-weight: 400;
}
.product-price-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 9.375rem;
  justify-content: space-between;
}
.product-price{
  color: var(--color-very-dark-blue);
  font-weight: 700;
  font-size: 1.5625rem;
  margin: 0;
}
.product-discount{
  color: var(--color-orange);
  background-color: var(--color-pale-orange);
  font-weight: 700;
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
}
.product-original-price{
  font-weight: 700;
  color: var(--color-grayish-blue);
  text-decoration: line-through;
}

.image-wrapper{
  display: flex;
  justify-content: center;
}
.image-wrapper img{
  width: 25rem;
  border-radius: 16px;
}
.product-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
}
.product-image img{
  width: 5rem;
  border-radius: 16px;
  cursor: pointer;
}
.product-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 28.125rem;
  justify-content: space-between;
  padding: 2.5rem 0rem;
}
.rating-container{
  background-color: var(--color-light-grayish-blue);
  width: 9.375rem;
  display: flex;
  flex-direction: row;
  padding: 1.125rem;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}
.rating-icon{
  cursor: pointer;
}
.rating-value p{
  font-weight: 700;
  margin: 0;
}
.icon-button{
  padding: 0.75rem 5rem;
  border-radius: 10px;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: 700;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.icon-button p{
  margin: 0;
}
.icon-button:hover{
  background-color: var(--color-pale-orange);
}
.justify-content-xs-center{
  display: flex;
  justify-content: center;
}

/******** CART **********/
.hr-cart{
  border-bottom: var(--color-grayish-blue) solid 1px;
}
.offcn-container{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.offcn-image-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.offcn-product-image{
  width: 5rem;
  border-radius: 10px;
}
.offcn-product-details{
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
}
.offcn-product-name{
  font-weight: 400;
  margin: 0;
  
  font-size: 18px;
}
.offcn-product-count{
   font-size: 1,125rem;
   margin: 0;
}
.offcn-checkout-button{
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: 700;
  padding: 12px 150px;
  border-radius: 10px;
  border:none;
}
.offcn-icon-image{
  cursor: pointer;
}
.result-count{
  font-weight: 700;
  font-size: 1,125rem;
  margin: 0;
}
.empt-flex{
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}
.empt-par{
  font-size: 18px;
  font-weight: 700;
}
@media (width <= 992px){
  .ul-flex{
    display: none;
  }
  .main-cont{
    display: flex;
    justify-content: center;
  }
  .image-container{
    height: 600px;
    justify-content: center;
  }
} 
@media (width >= 992px){
  .menu-hmb{
    display: none;
  }
}